body {
    font-family: 'Microsoft YaHei';
}

.title {
    width: auto;
    left: 30px;
}

.content {
    padding-top: 44px;
    padding-bottom: 60px;
    background-color: rgb(235, 235, 235);
}

.feed-list {
    margin-top: 20px;
}

.feed {
    background-color: white;
    box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.75);
    margin-bottom: 20px;
}

    .feed .feed-main {
        padding: 20px;
    }

        .feed .feed-main .feed-header {
            height: 60px;
        }

.feed-profile-avatar img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.feed-profile-data {
    margin-left: 10px;
}

.feed-profile-name {
    font-size: 14px;
    font-weight: bold;
}

.feed-time {
    font-size: 12px;
    color: rgb(134, 134, 134);
}

.feed-profile-title {
    color: rgb(134, 134, 134);
    font-size: 12px;
}

.feed-content {
    clear: both;
}

    .feed-content p {
        color: rgb(45, 45, 45);
    }

.feed-actions {
    height: 51px;
}

    .feed-actions .bar {
        position: relative;
    }

        .feed-actions .bar .tab-item .tab-label {
            display: inline;
        }

.footer-wrapper .bar {
    height: 60px;
}
